a {
    text-decoration: none !important;
}
.sidebar-button {
    height: 80px;
    width: 80px;
    color: white;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}

.sidebar-button:hover {
    background-color: #282828;
    color: white;
    border-radius: 10px;
}

.sidebar-button.active {
    background-color: #282828;
    color: white;
    border-radius: 10px;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.sidebar-text {
    font-size: 12px;
    color: white;
    margin-top: 5px;
}