a {
    text-decoration: none !important;
}
.sidebar-button {
    height: 80px;
    width: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
}

.sidebar-text {
    font-size: 12px;
    color: white;
    margin-top: 5px;
}